<h2>Exemplos de pipes</h2>

<p>Título: {{ livro.titulo | uppercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number: "1.1-1" }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency: "BRL":"symbol" }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date: "dd-MM-yyyy" }}</p>
<p>Url: {{ livro.url }}</p>
<br />
<p>Livro: {{ livro | json }}</p>

<input type="text" [(ngModel)]="filtro" />
<br />
<input type="text" #novoValor />
<button (click)="addCurso(novoValor.value)">Add curso</button>

<h2>Pipe Puro</h2>

<ul>
  <li *ngFor="let liv of livros | filtroArray: filtro">
    {{ liv }}
  </li>
</ul>

<h2>Pipe Impuro</h2>

<ul>
  <li *ngFor="let liv of livros | filtroArrayImpuro: filtro">
    {{ liv }}
  </li>
</ul>

<h2>Maneira correta de usar filtro nos projetos</h2>

<ul>
  <li *ngFor="let liv of obterLivros()">
    {{ liv }}
  </li>
</ul>
